# Customer Churn Clasifier

- Data set: https://www.kaggle.com/datasets/blastchar/telco-customer-churn/data

El dataset se conforma de información sobre el comportamiento de clientes de la compañía de telecomunicaciones "Telco", nos yudara a entrenar un modelo de regresión lógistica para clasificar o predecir si un cliente abandonará o no su subscripción. 


Información que podemos encontrar en el dataset:
- **Servicios contratados por cada cliente**: Teléfono, multiples lineas, internet, seguridad online, respaldo online, protección de dispositivos, soporte técnico y servicios de streaming de TV y películas.
- **Información de clientes**: Perdiodo de tiempo que han sido clientes, contrato, método de pago, facturación electrónica, cargos mensuales y cargos totales.
- **Información demográfica**: Genero, rango de edad y si tiene dependents.

## Líbrerias

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
# Posterior a la versión 22 no es posible importar janitor, por un error en una de las librerias que utiliza pyjanitor
%pip install pyjanitor==0.22.0

Requirement already satisfied: pyjanitor==0.22.0 in /home/pahoalapizco/anaconda3/envs/regresion_python/lib/python3.7/site-packages (0.22.0)
Requirement already satisfied: natsort in /home/pahoalapizco/anaconda3/envs/regresion_python/lib/python3.7/site-packages (from pyjanitor==0.22.0) (8.4.0)
Requirement already satisfied: multipledispatch in /home/pahoalapizco/anaconda3/envs/regresion_python/lib/python3.7/site-packages (from pyjanitor==0.22.0) (1.0.0)
Requirement already satisfied: scipy in /home/pahoalapizco/anaconda3/envs/regresion_python/lib/python3.7/site-packages (from pyjanitor==0.22.0) (1.7.3)
Requirement already satisfied: pandas-flavor in /home/pahoalapizco/anaconda3/envs/regresion_python/lib/python3.7/site-packages (from pyjanitor==0.22.0) (0.6.0)
Requirement already satisfied: xarray in /home/pahoalapizco/anaconda3/envs/regresion_python/lib/python3.7/site-packages (from pandas-flavor->pyjanitor==0.22.0) (0.20.2)
Requirement already satisfied: pandas>=0.23 in /home/pahoalapizco/anaconda3/envs/regresion_python/lib/python3.7/site-packages (from pandas-flavor->pyjanitor==0.22.0) (1.3.5)
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in /home/pahoalapizco/anaconda3/envs/regresion_python/lib/python3.7/site-packages (from scipy->pyjanitor==0.22.0) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/pahoalapizco/anaconda3/envs/regresion_python/lib/python3.7/site-packages (from pandas>=0.23->pandas-flavor->pyjanitor==0.22.0) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/pahoalapizco/anaconda3/envs/regresion_python/lib/python3.7/site-packages (from pandas>=0.23->pandas-flavor->pyjanitor==0.22.0) (2022.7)
Requirement already satisfied: importlib-metadata in /home/pahoalapizco/anaconda3/envs/regresion_python/lib/python3.7/site-packages (from xarray->pandas-flavor->pyjanitor==0.22.0) (4.11.3)
Requirement already satisfied: typing-extensions>=3.7 in /home/pahoalapizco/anaconda3/envs/regresion_python/lib/python3.7/site-packages (from xarray->pandas-flavor->pyjanitor==0.22.0) (4.4.0)
Requirement already satisfied: six>=1.5 in /home/pahoalapizco/anaconda3/envs/regresion_python/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-flavor->pyjanitor==0.22.0) (1.16.0)
Requirement already satisfied: zipp>=0.5 in /home/pahoalapizco/anaconda3/envs/regresion_python/lib/python3.7/site-packages (from importlib-metadata->xarray->pandas-flavor->pyjanitor==0.22.0) (3.11.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
# Manejo de rutas
import sys
sys.path.append("..")
import modules.utils.paths as path

# Manipulación de datos
import pandas as pd
import numpy as np

# Limpieza de datos
import janitor

## Carga de datos

In [4]:
file_path = path.data_raw_dir("WA_Fn-UseC_-Telco-Customer-Churn.csv")

df = pd.read_csv(file_path)
df.head(5)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [6]:
df.dtypes.value_counts()

object     18
int64       2
float64     1
dtype: int64

## Limpieza

### Depuración de variables

In [7]:
# Cambio de nombre de las variables 
df = df.clean_names(case_type="snake")
df.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,...,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [8]:
# Eliminamos columnas customer_id que es irrelevante para el entrenamiento
df.drop(columns="customer_id", axis=1, inplace=True)

In [9]:
df.head()

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

### Cambio de tipos de datos

Cambio de Total Charges de tipo `object` a tipo `float64`.

In [10]:
df["total_charges"] = pd.to_numeric(df["total_charges"], errors="coerce")

Cambio de la variable objetivo `churn` de `object` a `int` con valores de 0 y 1.

In [11]:
df["churn"].unique()

array(['No', 'Yes'], dtype=object)

In [12]:
df["churn"].replace(to_replace={"Yes": 1, "No": 0 }, inplace=True)
df["churn"].dtype

dtype('int64')

## Manejo de variables categóricas

In [13]:
processed_df = pd.get_dummies(df)
processed_df

,senior_citizen,tenure,monthly_charges,total_charges,churn,gender_Female,gender_Male,partner_No,partner_Yes,dependents_No,...,streaming_movies_Yes,contract_Month-to-month,contract_One year,contract_Two year,paperless_billing_No,paperless_billing_Yes,payment_method_Bank transfer (automatic),payment_method_Credit card (automatic),payment_method_Electronic check,payment_method_Mailed check
0,0,1,29.85,29.85,0,1,0,0,1,1,...,0,1,0,0,0,1,0,0,1,0
1,0,34,56.95,1889.50,0,0,1,1,0,1,...,0,0,1,0,1,0,0,0,0,1
2,0,2,53.85,108.15,1,0,1,1,0,1,...,0,1,0,0,0,1,0,0,0,1
3,0,45,42.30,1840.75,0,0,1,1,0,1,...,0,0,1,0,1,0,1,0,0,0
4,0,2,70.70,151.65,1,1,0,1,0,1,...,0,1,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,24,84.80,1990.50,0,0,1,0,1,0,...,1,0,1,0,0,1,0,0,0,1
7039,0,72,103.20,7362.90,0,1,0,0,1,0,...,1,0,1,0,0,1,0,1,0,0
7040,0,11,29.60,346.45,0,1,0,0,1,0,...,0,1,0,0,0,1,0,0,1,0
7041,1,4,74.40,306.60,1,0,1,0,1,1,...,0,1,0,0,0,1,0,0,0,1
7042,0,66,105.65,6844.50,0,0,1,1,0,1,...,1,0,0,1,0,1,1,0,0,0